h1{
    font-family:"Madimi One","verdana","arial";
    /* backupfonts */
}
p{
    font-family:"lucida console","courier new","Ojuju",;
    font: size 1em;
    /* 1em is the default size for any website */
    font-weight: bold;
    font-style: normal;

}